#card{
    margin-top: 20px;
    width: 400px;
}

.text-clear{
    margin: 6px 0;
    min-height: 14px;
}

#login-mobile{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
}

#password{
    outline: none;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 2px;
    color: #aaa;
    font-size: 14px;
    padding: 10px;
    height: 40px;
    vertical-align: middle;
    border-radius: 4px;
}