#Header{
    height: 64px;
    background-color: #00BFA6;
}

#Content{
    margin: 0;
    padding: 0;
}

#Content-Header{
    height: 80px;
    background-color: #00BFA6;
    color: #f6f9fa;
    text-align: center;
    font-size: 38px;
}

#Content-Title{
    height: 28px;
    width: 980px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
    border-bottom: 3px solid #ddd;
}

#login-title{
    line-height: 56px;
    height: 56px;
    text-align: center;
    font-size: 38px;
    margin: auto;
    background: white;
}

#Content-Content{
    height: 310px;
    width: 980px;
    margin: 0 auto;
    padding: 40px 0;
}

.form-group{
    width: 420px;
    margin: 0 auto;
    height: 40px;
}

.form-space{
    width: 420px;
    height: 40px;
    margin: 0 auto;
}

.form-input{
    width: 100%;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

#submit-btn{
    width: 100%;
    height: 40px;
    color: #fff;
    background-color: #00BFA6;
    border: 1px solid #00a38d;
    border-radius: 4px;
}

#Footer{
    background-color: #f6f9fa;
    margin-top: 30px;
    padding-top: 30px;
    height: 308px;
}

#introduction{
    text-align: center;
}

#link{
    text-decoration: none;
    color: #999;
    font-size: 14px;
}

#qq{
    margin-top: 14px;
    color: #999;
    font-size: 14px;
}